<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form autocomplete="off" th:action="@{/login}" method="post">
        <div class="form-group">
          <div class="my-3">
            <input type="text" name="username" placeholder="유저이름" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="my3-3">
            <input type="password" name="password" placeholder="패스워드" class="form-control" />
          </div>
        </div>
        <!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}"> -->
        <div class="form-group">
          <div class="d-grid my-3">
            <button type="submit" class="btn btn-primary">로그인</button>
            <a th:href="@{/}" class="btn btn-success mt-2">돌아가기</a>
          </div>
        </div>
        <!-- <span th:utext="${successMessage}"></span> -->
      </form>
</body>
</html>