<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts :: Head}"></head>
<body>
    <nav th:replace="~{layouts :: Navbar}"></nav>
    <div class="container">
        <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th>성</th>
                <th>이름</th>
                <th>이메일</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- 타임리프의 반복문 -->
              <tr th:each="emp : ${empList}">
                <td th:text="${emp.lastName}"></td>
                <td th:text="${emp.firstName}"></td>
                <td th:text="${emp.email}"></td>
                <td>
                  <a th:href=@{/employees/update(id=${emp.employeeId})} class="btn btn-outline-info btn-sm">수정</a>
                  <a th:href=@{/employees/delete(id=${emp.employeeId})} class="btn btn-outline-danger btn-sm"
                          onclick="if((!confirm('정말로 삭제할까요?'))) return false">삭제</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>