<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts :: Head}"></head>
<body>
    <nav th:replace="~{layouts :: Navbar}"></nav>
    <div class="container">
        <form action="@{/projects/save}" method="post" th:object="${project}">
            <div class="row my-2">
                <input type="text" class="form-control" placeholder="프로젝트 이름" th:field="*{name}">
            </div>
            <div class="row my-2">
                <select name="" id="" class="form-select" th:field="*{stage}">
                    <option th:value="시작전">시작전</option>
                    <option th:value="진행중">진행중</option>
                    <option th:value="완료">완료</option>
                </select>
            </div>
            <div class="row my-2">
                <textarea class="form-control" placeholder="프로젝트 설명" th:field="*{description}"></textarea>
            </div>
            <div class="row my-2">
                <select name="" id="" class="form-select" th:field="*{employees}" multiple>
                    <option value="" th:each="employee : ${empList}" th:value="${employee.employeeId}" th:text="${employee.firstName}"></option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">프로젝트 추가</button>
        </form>
    </div>
</body>
</html>